ol.faq {
	list-style: none;
}
ol.faq li {
	list-style: none;
}
ol.faq li:hover {
	background-color: transparent;
	background-image: none;
}
ol.faq h3 { 
	padding-bottom: 5px; 
	cursor:  pointer; 
	padding-left:20px; 
	background: url(../images/open.gif) top left no-repeat; 
}
ol.faq h3.active { 
	background: url(../images/close.gif) top left no-repeat; 
}
ol.faq div.answer { 
	display: none; 
	padding-left: 30px; 
}
ol.faq div.answer p {
	font-size: 75%;
}
ol.faq div.faq_approve {
	display: none;
}
